* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height:98vh;
}

main {
    display:flex;
    height:100%;
    justify-content:center;
    align-items:center;
    font-family: 'Hanken Grotesk', sans-serif;
   
}

.card {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:650px;
    height:450px;
    box-shadow:10px 15px 20px #ddd;
   
    
   
}

.card-left {
    width:50%;
    height:100%;
    padding:40px;
    background-image:linear-gradient(#7857ff, #2e2be9);
    border:1px solid white;
    border-radius:30px;
}

.card-left .head {
    color:#aaa;
    font-size:18px;
}

.card-left .result {
    width:150px;
    height:150px;
    background-image:linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin:30px 20%;
    padding:20px;
    border-radius:50%;
}

.card-left .result .rslt-bg {
    font-size:60px;
    color: #eee;
}

.card-left .result .rslt-sm {
    color: #aaa;
    font-size:14px;
}

.card-left .grt {
    font-size:28px;
    font-weight:700;
    color:#bbb;
    margin-top:30px;

}

.card-left .left-prg {
    color:#aaa;
    margin:10px;
    padding:5px;

}

.card-right {
    width:50%;
    height:100%;
    padding:45px;
    margin-left:-20px;
    z-index:-1;
    background:#fff;
    border-bottom-right-radius: 30px;
   
}

.card-right .sum {
    text-align:left;
    font-size:22px;
}

.card-right .rea {
    display:flex;
    width:100%;
    height:40px;
    align-items:center;
    padding:5px 10px;
    margin:25px 5px;
    background:hsl(0, 100%, 97%);
    color:hsl(0, 100%, 67%)
}

.card-right .rea i {
    margin-right:10px;
}

.card-right .rea .rea-2 {
    margin-left:60px;
    color:black;
}

.card-right .rea .rea-3 {
    margin-left:5px;
    color:#aaa;
}

.card-right .mem {
    display:flex;
    width:100%;
    height:40px;
    align-items:center;
    padding:5px 10px;
    margin:25px 5px;
    background:hsl(39, 100%, 95%);
    color:hsl(39, 100%, 56%);
}

.card-right .mem i {
    margin-right:10px;
}

.card-right .mem .mem-2 {
    margin-left:60px;
    color:black;
}

.card-right .mem .mem-3 {
    margin-left:5px;
    color:#aaa;
}

.card-right .ver {
    display:flex;
    width:100%;
    height:40px;
    align-items:center;
    padding:5px 10px;
    margin:25px 5px;
    background:hsl(166, 100%, 97%);
    color:hsl(166, 100%, 37%);
}

.card-right .ver i {
    margin-right:10px;
}

.card-right .ver .ver-2 {
    margin-left:70px;
    color:black;
}

.card-right .ver .ver-3 {
    margin-left:5px;
    color:#aaa;
}

.card-right .vis {
    display:flex;
    width:100%;
    height:40px;
    align-items:center;
    padding:5px 10px;
    margin:25px 5px;
    background:hsl(234, 85%, 97%);
    color:hsl(234, 85%, 45%)
}

.card-right .vis i {
    margin-right:10px;
}

.card-right .vis .vis-2 {
    margin-left:70px;
    color:black;
}

.card-right .vis .vis-3 {
    margin-left:5px;
    color:#aaa;
}

.card-right button {
    width:100%;
    height:45px;
    padding:15px;
    margin-top:10px;
    color:#ccc;
    font-weight:700;
    background:#303b5a;
    border:none;
    border-radius:50px;
}


.attribution {
     font-size: 11px; 
     text-align: center; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }